<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>525867440838-k38iflludj5i0hc5ufd6ot6jcda5b85o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525867440838-k38iflludj5i0hc5ufd6ot6jcda5b85o</string>
	<key>API_KEY</key>
	<string>AIzaSyDjjIpm175SEJgAz_sxoO7KkkkUQwsJxTY</string>
	<key>GCM_SENDER_ID</key>
	<string>525867440838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sardorbek.Food-Delivery-App</string>
	<key>PROJECT_ID</key>
	<string>fooddelivery-406e6</string>
	<key>STORAGE_BUCKET</key>
	<string>fooddelivery-406e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525867440838:ios:3d37fcd7e4e96f58d815c7</string>
</dict>
</plist>